# IntelliJ Stuff
*.iml
.idea/
*.ipr

/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/vcs.xml
var/cache/.gitkeep
var/logs/.gitkeep
var/sessions/.gitkeep
