{% extends 'base.html.twig' %}
{% block body %}
<div class="fullscreen">
    <div class="center-object">
        <div class="container">
            <section class="me unset">
                <div class="avatar-container">
                    <img draggable="false" src="/Image/profile.png" class="image-title">
                </div>
                <div class="unset">
                    <h1 class="title monospace">CFs API</h1>
                    <p class="undertitle monospace">Here you can find all the current endpoints <br>
                        all endpoints are GET only</p>
                </div>
            </section>

        </div>
    </div>
    <a href="#information"><div class="arrow bounce">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.32 291.98" class="wisteria-fill">
            <path d="M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,486.4,35.4,466.5,15.5z"/>
        </svg>
    </div></a>
</div>





{% endblock %}

{% block stylesheets %}
    <meta name="og:title" content="CFs API">
    <meta name="og:description" content="a small API that sends anime/hentai images in JSON">
    <meta name="og:image" content="{{ asset('Image/profile.png') }}">
    <meta name="og:url" content="https://api.computerfreaker.cf">
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
    <style>

        body { font: 18px/1.5 sans-serif;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { font-size: 20px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}