{% extends 'base.html.twig' %}

{% block body %}
    <h1>Here you can find all the current endpoints</h1>
    <p>GET | {{ path("anime") }}</p>
    <p>GET | {{ path("hentai") }}</p>
{% endblock %}

{% block stylesheets %}
<style>

    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
    h1 { font-size: 20px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; font-size: 12px;}
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
</style>
{% endblock %}
