{% extends 'base.html.twig' %}

{% block body %}
    <section class="fullscreen">
        <div class="center-object">
            <div class="table-container table-center center">
                <section class="me">

                </section>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <meta name="og:title" content="CFs Stats">
    <meta name="og:description" content="get all the stats of the current hosting server">
    <meta name="og:image" content="{{ asset('https://computerfreaker.cf/profile/profile.png') }}">
    <meta name="og:url" content="https://api.computerfreaker.cf">
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style>

        body { background: #000000; font: 18px/1.5 sans-serif;}
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { font-size: 20px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}
