{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <form method="POST" action="{{ path('dvaUploader') }}" enctype="multipart/form-data">
            <input type="hidden" name="size" value="1000000">
            <div id="img_div">
                <label> enter your files here
                    <input type="file" id="file" name="image[]" multiple="multiple" data-multiple-caption="{count} files selected">
                </label>
            </div>
            <button type="submit" name="upload">POST</button>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <title>D.VA Upload</title>
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        #content{
            width: 50%;
            margin: 20px auto;
            border: 1px solid #cbcbcb;
        }
        form{
            width: 50%;
            margin: 20px auto;
        }
        form div{
            margin-top: 5px;
        }
        #img_div{
            width: 80%;
            padding: 5px;
            margin: 15px auto;
            border: 1px solid #cbcbcb;
        }
        #img_div:after{
            content: "";
            display: block;
            clear: both;
        }
        img{
            float: left;
            margin: 5px;
            width: 300px;
            height: 140px;
        }
        label{
            padding: 10px;
            background: red;
            display: table;
            color: #fff;
        }
        [type="file"] {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            white-space: nowrap;
            width: 1px;
        }
        [type="file"] + label {
            background-color: #000;
            border-radius: 4rem;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            height: 4rem;
            line-height: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            transition: background-color 0.3s;
        }

        [type="file"]:focus + label,
        [type="file"] + label:hover {
            background-color: #f15d22;
        }

        [type="file"]:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        let inputs = document.querySelectorAll( '.inputfile' );

        Array.prototype.forEach.call( inputs, function( input ) {
            let label = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener( 'change', function( e ) {
                let fileName = '';

                if ( this.files &amp;&amp; this.files.length > 1 ) {
                    fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                } else {
                    fileName = e.target.value.split( '\\' ).pop();
                }

                if ( fileName ) {
                    label.querySelector( 'span' ).innerHTML = fileName;
                } else {
                    label.innerHTML = labelVal;
                }
            });
        });
    </script>
{% endblock %}